version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  build-and-test:
    executor: node/default
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci --no-optional
      - run:
          name: Install Rollup separately
          command: npm install rollup --no-save
      - run:
          name: Run lint check
          command: npm run lint
      - run:
          name: Run tests
          command: npm run test
      - run:
          name: Build library
          command: npm run build
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

  build-storybook:
    executor: node/default
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Build Storybook
          command: npm run build-storybook
      - store_artifacts:
          path: storybook-static
          destination: storybook

  publish:
    executor: node/default
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci --no-optional
      - run:
          name: Install Rollup separately
          command: npm install rollup --no-save
      - run:
          name: Build library
          command: npm run build
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2
  main-workflow:
    jobs:
      - build-and-test:
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
      - build-storybook:
          requires:
            - build-and-test
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
      - publish:
          filters:
            branches:
              only: master
            tags:
               only: /^v.*/
